<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hrg.healthmanager">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.bluetooth.le" android:required="true"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:icon="@drawable/hc"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:allowBackup="true"
        android:theme="@style/AppTheme">

        <activity android:label="@string/app_name" android:name=".MainActivity" />
        <activity android:label="@string/app_name" android:name="com.hrg.healthmanager.Infoadmin.firstview.firstview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity android:name="com.hrg.healthmanager.Ble_Activity" />
    <activity android:name="com.hrg.healthmanager.Infoadmin.checkitem.checktheitems" />
    <activity android:name="com.hrg.healthmanager.Infoadmin.olduser.olduser" />
    <activity android:name="com.hrg.healthmanager.Infoadmin.newuser.newuser" />
    <activity android:name="com.hrg.healthmanager.Infoadmin.olduser.selecttomanager" />
    <activity android:name="com.hrg.healthmanager.Infoadmin.result.displayresult" />
    <activity android:name="com.hrg.healthmanager.Infoadmin.olduser.SelecteTheDataTime" />
    <service android:name="com.hrg.healthmanager.service.BluetoothLeService" android:enabled="true" />
    </application>

</manifest>